<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">  
          
    <mvc:annotation-driven conversion-service="conversionService" >  
        <mvc:message-converters>  
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
                <property name="supportedMediaTypes">  
                    <list>  
                        <value>application/json; charset=UTF-8</value>    
                        <value>application/x-www-form-urlencoded; charset=UTF-8</value>  
                    </list>  
                </property>  
                <property name="prettyPrint" value="true"/>  
                <property name="objectMapper">    
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper"  
                        p:serializationInclusion="NON_NULL">  
                          
                        <property name="dateFormat">  
                            <bean class="java.text.SimpleDateFormat">    
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />    
                            </bean>    
                        </property>  
                    </bean>  
                </property>  
            </bean>  
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
                <property name="supportedMediaTypes">  
                    <list>  
                        <value>text/plain;charset=UTF-8</value>  
                        <value>text/html;charset=UTF-8</value>  
                    </list>  
                </property>  
            </bean>  
        </mvc:message-converters>   
    </mvc:annotation-driven>  
      
    <!-- <mvc:view-controller path="/" view-name="redirect:/login"/> -->  
      
    <context:annotation-config />  
      
<!--     <context:component-scan base-package="com.tiamaes.**.controller" >   -->
<!--         <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />   -->
<!--     </context:component-scan>   -->
      
    <!-- 控制日期格式的 -->  
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">  
        <!--<property name="converters">  
            <list>  
                <bean class="com.zrhis.base.converter.DateConverter" ></bean>  
            </list>  
        </property>  
        -->  
    </bean>  
      
    <!-- p:suffix=".jsp" -->  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"   
        p:prefix="/WEB-INF/jsp/" p:suffix=".jsp">  
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>  
    </bean>  
  
    <mvc:default-servlet-handler/>  
      
    <aop:aspectj-autoproxy proxy-target-class="true" />  
      
</beans>  